$blick-position: 30px;

@keyframes button-blick {
  100% {
    left: calc(100% + #{$blick-position});
  }
}

@mixin font-config($size, $weight, $lh, $color) {
  font: {
    size: $size;
    weight: $weight;
  }
  line-height: $lh;
  color: $color;
}

.projects {
  font-family: 'Inter', 'Times New Roman', sans-serif;
  color: #fff;
  box-sizing: border-box;

  &__list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__site {
    border: 2px solid #c7c7c7;
    min-height: 350px;
    flex: 0 0 55%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  &__container {
    flex: 0 0 45%;
    padding-left: 20px;
  }

  &__description {
    margin: 0;
    @include font-config(1.2em, 500, 1.2, #fff);
  }

  &__link {
    @include font-config(1.1em, 500, 1.2, #2b2b2b);
    display: inline-block;
    margin: 50px 0 0;
    background-color: #c7c7c7;
    padding: 7px 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 0 5px 3px rgb(130, 130, 130);
    }

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 20px;
      background-color: rgba($color: rgb(50, 50, 50), $alpha: 0.6);
      left: -#{$blick-position};
      top: 0;
      transform: skew(-35deg);
      border-radius: 3px;
    }

    &:hover::before {
      animation: button-blick 0.5s ease 0s 1;
    }
  }
}
