$border-color: #c7c7c7;
$border-position: -4px;

@keyframes border-movement {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@mixin img-config($max-width) {
  max-width: $max-width;
  height: auto;
  object-fit: cover;
  object-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  user-select: none;
}

@mixin font-config($size, $weight, $lh, $color) {
  font: {
    size: $size;
    weight: $weight;
  }
  line-height: $lh;
  color: $color;
}

.profile {
  box-sizing: border-box;
  background-color: #2b2b2b;
  font-family: "Inter", "Times New Roman", sans-serif;
  border: {
    top: 1px solid $border-color;
    bottom: 1px solid $border-color;
  }
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 720px) {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: calc(100% + 20px * 2);
    background-color: $border-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(35deg);
    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  &__avatar-wrapper {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    @media screen and (max-width: 720px) {
      margin-bottom: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      left: $border-position;
      top: $border-position;
      bottom: $border-position;
      right: $border-position;
      border: 4px dashed $border-color;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      animation: border-movement 10s linear 0s infinite;
      -webkit-animation: border-movement 10s linear 0s infinite;
      transition: left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
      -webkit-transition: left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
      -moz-transition: left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
      -ms-transition: left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
      -o-transition: left 0.3s, top 0.3s, right 0.3s, bottom 0.3s;
    }

    &:hover::before {
      animation-duration: 5s;
      left: $border-position * 2;
      top: $border-position * 2;
      right: $border-position * 2;
      bottom: $border-position * 2;
    }
  }

  &__avatar {
    @include img-config(150px);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 720px) {
      align-items: center;
    }
  }

  &__name {
    margin: 0;
    @include font-config(1.5em, 500, 1.2, #fff);
  }

  &__mail {
    margin: 15px 0;
    @include font-config(1.2em, 400, 1.2, #fff);
  }

  &__link {
    max-width: 30px;
    max-height: 30px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $border-color;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }

  &__link-img {
    @include img-config(100%);
  }
}
