.content {
  &__profile {
    width: 100%;
    margin: 0 auto;
  }

  &__projects {
    margin: 60px auto;
  }

  &__skills {
    margin: 60px auto 0;
  }

  &__button-scroll {
    position: -webkit-sticky;
    position: sticky;
    left: 100%;
    bottom: 5%;
    transform: translateX(-100%);
  }

  &__projects,
  &__skills {
    width: calc(100% - 100px * 2);

    @media screen and (max-width: 720px) {
      width: calc(100% - 60px * 2);
    }

    @media screen and (max-width: 480px) {
      width: calc(100% - 30px * 2);
    }

    @media screen and (max-width: 325px) {
      width: calc(100% - 15px * 2);
    }

    @media screen and (max-width: 300px) {
      width: calc(100% - 5px * 2);
    }
  }
}
