.content {
  background-color: #2b2b2b;

  &__profile {
    width: 100%;
    margin: 0 auto;
  }

  &__projects {
    margin: 60px auto;
  }

  &__skills {
    margin: 60px auto 0;
  }

  &__button-scroll {
    position: fixed;
    right: 5%;
    bottom: 5%;
  }
}
