$text-color: #fff;
$technologies: (
  "html": #ff4500,
  "css": #1e90ff,
  "javascript": #ff0,
  "react": #00bfff,
  "express": #ffa500,
  "sass": #ff69b4,
  "webpack": #87ceeb,
  "git": #ff4500,
  "github": #ffffe0,
  "vscode": #2489ca,
  "node": #8cc84b,
  "redux": #764abc,
);

@mixin list-config($margin, $padding, $type) {
  margin: $margin;
  padding: $padding;
  list-style-type: $type;
}

@mixin font-config($size, $weight, $lh, $color) {
  font: {
    size: $size;
    weight: $weight;
  }
  line-height: $lh;
  color: $color;
}

.skills {
  $main: &;

  &__list {
    @include list-config(0, 0, none);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    margin: 0;
    @include font-config(2em, 500, 1.2, $text-color);
  }

  &__sublist {
    @include list-config(0px, 15px 0, none);
    display: flex;
    flex-wrap: wrap;
  }

  &__subitem {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    box-sizing: border-box;
    padding: 10px;
    max-height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #fff;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
    }

    @each $technology, $color in $technologies {
      #{$main}__img_type_#{$technology} {
        fill: $color;
      }

      #{$main}__text_type_#{$technology} {
        color: $color;
      }
    }
  }

  &__img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  &__text {
    @include font-config(1.2em, 400, 1.4, $text-color);
  }
}
