$main-color: #fff;

@mixin font-config($size, $weight, $lh, $color) {
  font: {
    size: $size;
    weight: $weight;
  }
  line-height: $lh;
  color: $color;
}

.about {
  font-family: "Inter", "Times New Roman", sans-serif;
  display: flex;
  flex-direction: column;

  &__back {
    align-self: flex-start;
    border: 0;
    outline: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
    @include font-config(1.125em, 500, 1.2, $main-color);
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    @media screen and (max-width: 720px) {
      font-size: 1em;
    }

    @media screen and (max-width: 480px) {
      font-size: 0.8em;
    }
  }

  &__description {
    @include font-config(1.25em, 500, 1.4, $main-color);
    margin: 30px 0 0;

    @media screen and (max-width: 480px) {
      margin-top: 15px;
    }
  }

  &__link {
    color: $main-color;
    white-space: nowrap;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__container {
    width: 100%;
    margin-top: 30px;
    display: flex;

    @media screen and (max-width: 480px) {
      margin-top: 15px;
    }
  }

  &__avatar {
    width: 40%;
    max-width: 400px;
    height: auto;
  }

  &__list {
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
  }

  &__item:not(:first-child) {
    margin-top: 15px;
  }

  &__text {
    margin: 0;
    @include font-config(1.25em, 500, 1.2, $main-color);
  }

  &__description,
  &__link,
  &__text {
    @media screen and (max-width: 720px) {
      font-size: 1.125em;
    }

    @media screen and (max-width: 480px) {
      font-size: 0.875em;
    }
  }
}
